.navbar-blue {
    background-color: #3631C2;
}

.navbar-brand {
    color: white;
}

.game-image {
    margin-left: auto;
    margin-right: auto;
}

.game-element-list {
    text-align: center;
    font-size: 0.8rem;
}

.price-text {
    color: #3631C2
}

.div-button:hover{
    filter: blur(1px);
    transition: 100ms;
}

.div-button{
    cursor: pointer;
}

.page-link {
    color: #3631C2
}

.page-link:hover {
    color: #3631C2
}

.button-standard {
    background: #3631C2;
    color: white;
    border: #3631C2;
}

.button-standard:hover {
    background: #443fc9;
    border: #443fc9;
}

.button-standard:focus{
    background: #443fc9;
    border: #443fc9;
}

