.navbar-blue {
    background-color: #3631C2;
}

.navbar-brand {
    color: white;
}


.price-text {
    color: #3631C2
}

.page-link {
    color: #3631C2
}

.page-link:hover {
    color: #3631C2
}

.button-standard {
    background: #3631C2;
    color: white;
    border: #3631C2;
}

.button-standard:hover {
    background: #443fc9;
    border: #443fc9;
    color: white;
}

.button-standard:focus{
    background: #443fc9;
    border: #443fc9;
}

.navbar-blue a:hover {
    color: lightgray;
}


